<h5 class="text-center"><strong>Experiencia Laboral</strong></h5>
<div class="">
    <div class="card my-1">
        <div class="card-body">
            <h5 class="card-title lead"><strong>Desarrollador Java Junior</strong></h5>
            <h6 class="card-subtitle mb-2 text-muted lead">Bizit Global SA</h6>
            <p class="card-text">Desarrollo web fullstack con frameworks como: <strong>Spring Framework</strong>,
                <strong>Spring Boot</strong>,<strong> ZK</strong>, entre otros.
            </p>
            <div class="badge bg-success text-wrap text-light" style="width: 100%">
                Feb. 2021 - ACTUALIDAD
            </div>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-body">
            <h5 class="card-title lead"><strong>Asistente Informático</strong></h5>
            <h6 class="card-subtitle mb-2 text-muted lead">Estudio Jurídico: Doc. Yolanda Panetta</h6>
            <p class="card-text">Admistración y manteniemiento de sistemas informáticos. Asistencia pericias
                informáticas.</p>
            <div class="badge bg-success text-wrap text-light" style="width: 100%">
                Sep. 2017 - ACTUALIDAD
            </div>
        </div>
    </div>

    <div class="card my-1" >
        <div class="card-body">
            <h5 class="card-title lead"><strong>Desarrollador FreeLance</strong></h5>
            <h6 class="card-subtitle mb-2 text-muted lead">Distribuidora DistriZap</h6>
            <p class="card-text">Desarrollo y mantemiento de sistema de control de ventas y stock. Tecnologías: <strong>C#, MySQL</strong></p>
            <div class="badge bg-warning text-wrap text-light" style="width: 100%">
                Ene. 2020 - Sep. 2020
            </div>
        </div>
    </div>
</div>