<h5 class="text-center"><strong>Historial Educativo</strong></h5>
<div class="px-2 py-1">
    <figure class="text-center pt-3">
        <blockquote class="blockquote">
            <p>Tecnicatura Superior en Programación</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Universidad Tecnológica Nacional - FRC. <cite title="Source Title"><strong>2015 - 2016</strong></cite>
        </figcaption>
    </figure>
</div>
<div class="px-2 py-1">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Ingeniería en Sistemas de Información</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Universidad Tecnológica Nacional - FRC. <cite title="Source Title"><strong>2017 - Actualidad</strong>
            </cite>
        </figcaption>
    </figure>
</div>